body{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.game-board-container {
    width: 95vw;
    height: 60vh;
    margin: 0;
    padding: 0;
}

.wrapper {
    overflow: hidden;
}

.sliding-bg {
    background: url("../images/backgrounds_big.png") repeat-x;
    height: 600px;
    width: 5076px;
    position: fixed;
    top: 0px;
    transform: translate3d(0, 0, 0);
    animation: slide 30s linear infinite;
    z-index: -1;
}

@keyframes slide{
    100% { 
        transform: translateX(-66.6666%);  
    }
}

.start-button {
    background-color: #3ee69b;
    position: relative;
    top: 50%;
    left: 50%;
    border-radius: 5px 15px;
    transform: translateX(-50%);
    border: 1px solid #97f0c8;
    color: white;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

h1 {
    background-color: rgba(62, 230, 155, 0.4);
    color: white;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px 15px;
    border: 1px solid #97f0c8;
    padding: 20px 50px;
}

h2{
    background-color: rgba(62, 230, 155, 0.4);
    color: white;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px 15px;
    border: 1px solid #97f0c8;
    padding: 20px 50px;
}

#restart-btn {
    background-color: #3ee69b;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px 15px;
    border: 1px solid #97f0c8;
    padding: 20px 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

#popup {
    position: fixed;
    background-color: #97f0c8;
    top: 0;
}

#poop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
}   

